<div class="container-fluid">

    <div class="d-flex mt-5 justify-content-center">
        <div class="card" style="width: 19rem;">
            <img src="images/nodets.jpg" class="card-img-top" alt="Nodejs+typescrypt">
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="formUsername"><i class="fa-regular fa-solid fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="formUsername">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="formPassword"><i class="fa-regular fa-solid fa-lock"></i></span>
                    <input type="text" class="form-control" placeholder="Password" aria-label="formPassword"
                        aria-describedby="formPassword">
                </div>
                <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary">Login</button>
                    <button type="button" class="btn btn-outline-warning">Register</button>

                </div>
            </div>
        </div>
    </div>
</div>