<div class="container-fluid">
    <div class="d-flex mt-5 justify-content-center">
        <div class="card" style="width: 20rem;">
            <img src="images/nodets.jpg" class="card-img-top" alt="Nodejs+typescrypt">
            <div class="card-body">
                <h5 class="card-title"><%- title %></h5>
                <p class="card-text"><%- greeting %></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>